

#anti_adb{

	height: 60px; 

	position: absolute;
	top: 0;
	left:0;
	right:0;

	z-index:10000;
	opacity:0.9;
	background: repeating-linear-gradient(60deg,  #ffc107,  #ffc107 35px,  #ff9800 35px,  #ff9800 70px);  
	 
	padding-left:20px; 
	padding-top: 10px;

	font-family: Arial, Helvetica, sans-serif !important;
	color: black !important ; 
	
	


}

#anti_adb-title{
	font-size:25px;
	line-height:20px; 
	font-weight: bold;
	text-shadow: 1px 1px 2px grey;
	font-family: Arial, Helvetica, sans-serif !important;
}

#anti_adb-content{
	font-size:17px;
	line-height:20px; 
	margin-top: 5px;
	margin-left:10px;
	font-family: Arial, Helvetica, sans-serif !important;
	
}

#anti_adb-close{
	position: absolute;
	
	top: 0px;
	right: 20px;
	font-weight: bold;
	line-height: 60px;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif !important;
	cursor:pointer;


}